INFLUXDB_USERNAME=admin
INFLUXDB_PASSWORD=adminpassword
INFLUXDB_ORG=tfm
INFLUXDB_BUCKET=sensor_data
INFLUXDB_ADMIN_TOKEN=change-me-super-secret-token
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
MQTT_TOPIC=tfm/gateway/+/telemetry
